.u-section-1 .u-sheet-1 {
  min-height: 734px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  width: 780px;
  margin: 59px auto 0;
}

.u-section-1 .u-text-2 {
  width: 780px;
  background-image: none;
  margin: 17px auto 0;
}

.u-section-1 .u-list-1 {
  width: 1085px;
  margin: 111px auto 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 23.3333px) calc(33.3333% - 23.3333px) calc(33.3333% - 23.3333px);
  min-height: 292px;
  grid-gap: 100px 35px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px 30px 0;
}

.u-section-1 .u-image-1 {
  width: 183px;
  height: 183px;
  background-image: url("images/758b5559-c3ba-4155-a732-78d6fab8bfcd.jpg");
  background-position: 100% 50%;
  margin: -78px auto 0 -26px;
}

.u-section-1 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: normal;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 17px 0 0 30px;
}

.u-section-1 .u-text-4 {
  margin: 22px 0 0 30px;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 30px 30px 0;
}

.u-section-1 .u-image-2 {
  width: 183px;
  height: 183px;
  background-image: url("images/businessman-with-hands-pockets-near-glass-building.jpg");
  background-position: 0% 50%;
  margin: -78px auto 0 -26px;
}

.u-section-1 .u-text-5 {
  text-transform: uppercase;
  letter-spacing: normal;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 17px 0 0 30px;
}

.u-section-1 .u-text-6 {
  margin: 22px 0 0 30px;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 30px 30px 0;
}

.u-section-1 .u-image-3 {
  width: 183px;
  height: 183px;
  background-image: url("images/516befa0-bbfa-454c-acd8-11ce10a95795.jpg");
  background-position: 50% 50%;
  margin: -78px auto 0 -26px;
}

.u-section-1 .u-text-7 {
  text-transform: uppercase;
  letter-spacing: normal;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 17px 0 0 30px;
}

.u-section-1 .u-text-8 {
  margin: 22px 0 0 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-list-1 {
    width: 940px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 23.333299999999998px));
    min-height: 251px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 17.499975px));
    min-height: 628px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-right: 1px;
    margin-left: 25px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-right: 1px;
    margin-left: 25px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-right: 1px;
    margin-left: 25px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-right: 1px;
    margin-left: 25px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-right: 1px;
    margin-left: 25px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-right: 1px;
    margin-left: 25px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-list-1 {
    width: 516px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 752px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 24px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 24px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 24px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 24px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-right: 10px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
    margin-left: 24px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
    margin-left: 24px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 17px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 17px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 17px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 17px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 17px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 17px;
  }
}